#header {
  padding: 10px 50px;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
}

#header-links {
  display: flex;
  flex-direction: row;
}

.header-link {
  display: inline-block;
  color: white;
  margin-right: 10px;
  align-self: center;
}

#header-profile {
  display: flex;
  flex-direction: row-reverse;
}

#profile-picture {
  margin-left: 20px;
  height: 55px;
  align-self: center;
  border-radius: 50%;
}

.header-link {
  padding: 10px 16px 12px 10px;
  border: 0.5px darkgray;
  border-radius: 100px;
  background-color: aliceblue;
  color: black;
  text-decoration: none;
}

.search-link {
  background: url(./svg/ui_user_profile-white.svg) no-repeat;
}

svg {
  transform: translateY(2px);
  height: auto;
  margin-right: 5px;
}
