#page-login {
  display: flex;
  text-align: center;
  justify-content: space-around;
  flex-direction: column;
  height: 280px;
  width: 300px;
  padding: 30px; 
  border: 1px solid rgba(88, 88, 88, 0.452);
  border-radius: 10px;
  margin: auto;
  transform: translateY(30%);
}

#right-div {
  padding: 5%;
  background-color: #272727;
}


h1 {
  color: #fafafa;
}

form {
  display: flex;
  flex-direction: column;
  max-width: 100%;
}

#login-input {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  /* display: block; */
  margin: 20px 0;
  background: url(./svg/ui_user_profile-white.svg) no-repeat;
  line-height: 2rem;
  padding-left: 50px;
  border-radius: 5px;
  color: white;
  background-color: #272727;
}

#login-button {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  line-height: 1.5rem;
  border-radius: 5px;
}

#login-button:hover:enabled {
  background-color: #272727;
  color: #fafafa;
}

#login-button:hover:active {
  background-color: #4e4e4e;
}