#search-form {
  display: flex;
  justify-content: center;
  flex-direction: row;
  /* position: sticky; */
  transform: translateY(-70px);
  z-index: 1;
  width: 400px;
  position: -webkit-sticky;
  position: sticky;
  top: 100px;
  margin: auto;
}

#search-input {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  line-height: 2.2rem;
  border-radius: 100px 0 0 100px;
  padding-left: 15px;
  border: 0;
}

#search-button {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  border-radius: 0 100px 100px 0;
  border: 0;
  padding-right: 10px;
}

Header {
  /* background-color: #272727; */
  position: -webkit-sticky;
  background-color: #272727;
  position: sticky;
  top: 0;
}
