#search-form {
  display: flex;
  justify-content: center;
  flex-direction: row;
  /* position: sticky; */
  transform: translateY(-70px);
  z-index: 1;
  width: 400px;
  position: -webkit-sticky;
  position: sticky;
  top: 100px;
  margin: auto;
}

#search-input {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  line-height: 2.2rem;
  border-radius: 100px 0 0 100px;
  padding-left: 15px;
  border: 0;
}

#search-button {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  border-radius: 0 100px 100px 0;
  border: 0;
  padding-right: 10px;
}

Header {
  position: -webkit-sticky;
  background-color: #272727;
  position: sticky;
  top: 0;
  min-height: 99.98px;
  z-index: 1;
}

/* album list */

#albuns-list {
  display: flex;
  flex-wrap: wrap;
  /* gap: 5px; */
  justify-content: center;
}

.result-header {
  text-align: center;
  margin-top: auto;
  margin-bottom: 35px;
}

.album-card {
  display: flex;
  flex-direction: column;
  background-color: #1f1f1f;
  border: 1px solid rgba(88, 88, 88, 0.452);
  height: 320px;
  width: 250px;
  justify-content: center;
  padding: 0 5px 10px 5px;
  border-radius: 20px;
  margin: 5px;
}

.album-card > img {
  align-self: center;
  height: 200px;
  width: 200px;
  border-radius: 10px;
}

.album-card > h4,
.album-card > h6 {
  margin: 20px auto 0 25px;
  color: whitesmoke;
}


.card-link {
  text-decoration: none;
}